
html{
    height:auto;
    width: auto;
    overflow-x:hidden;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifS;
    background-color: #D1DCE8;
    display:flex;
    width:100%;
    padding:0px;
    margin:0px;
    height:100%;
}


header{
    display:flex;
    flex-direction: column;
    background-color:white;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(129,140,248,1);
    -moz-box-shadow: 0px 4px 7px 0px rgba(129,140,248,1);
    box-shadow: 0px 4px 7px 0px rgba(129,140,248,1); 
}


.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:left;
    position:fixed;
    height:100%;
    min-width: 225px;
    background-color: #B1BEC8;
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.75);
}

.sidebar button{
    min-width:175px;
    border:none;
    transition: background-color .5s ease-out;
}

.sidebar button:hover{
    background-color: #DEDEE0;
}

.topSidebar{
    display:flex;
    flex-direction: column;
    margin:30px;
    gap: 40px;

}

.bottomSidebar{
    display:flex;
    flex-direction: column;
    margin:30px;
    gap: 40px;

}

.revealForm{

}
.pageContent{
    display:flex;
}

.mainContent{
    margin-left:225px;
    width:auto;
}

.mainContent h2{
    padding-left: 25px;
}

.listHeading{
    display: flex;
    align-items: center;
    justify-items: center;
}

.tasks{
    display:flex;
    flex-direction: column;
    width:100%;
}

.taskDiv{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    background-color: white;
    margin:50px;
    width:100%;
    border-radius: 6px 0px 0px 6px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    transition: background-color 0.3s ease;
    

}

.taskDiv h2, p{
    margin:25px;
}

.taskDiv button{
    margin:25px;
    border:none;
}

.details, .deleteDiv{
    background-repeat: no-repeat;
    height:30px;
    width:30px;
} 
.details{
    background-image:url("images/plus.svg");
}

.deleteDiv{
    background-image:url("images/trash-can-outline.svg");
}

.taskDiv:hover{
    background-color: #DEDEE0;

}

.details:hover, .deleteDiv:hover{
    transition: background-color .5s ease;
    background-color: greenyellow;

}

.descriptionBox{
    background-color: white;
    display:flex;
    flex-direction: column;
}

.formModal, .descriptionModal{
    display: flex;
    position:fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
}
    


.formQuestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #001f3f ;
    padding:25px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

.formQuestions input{
    width: 100%; 
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: background-color 0.3s;
}

.formQuestions input:focus{
    background-color: #d3d3d3;
}

label{
    color:white;
}
.priorityRadio{
    display:Flex;
}

.checkDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}


input[type="checkbox"] {
    align-self: center;
    width: 25px; /* Adjust the size of the checkbox */
    height: 25px; /* Adjust the size of the checkbox */
    margin-right: 5px; /* Add some space between the checkbox and label */
    transition: accent-color 0.3s;
  }

  input[type="checkbox"]:checked {
    accent-color: #77dd77;
    border: 1px solid #ccc; /* Border color */
    border-radius: 3px; /* Rounded corners */


  }

  .hide{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:0;
    visibility: hidden;
}

.show{
    transition:opacity .3s ease, visibility .3s ease;
    opacity:1;
}
